html, body {
    position: relative;
    height: 100%;
    margin-left: 5%; /* Use percentage for margin */
    margin-right: 5%; /* Use percentage for margin */
    background-color: #fafafa;
}
.swiper {
    width: 90%;
    max-width: 1200px;
    height: 45vh;
}
.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 80%;
    height: 100%;
    object-fit: cover;
}
.a1 {
    background-color: #ffc700;
    display: flex;
    flex-wrap: wrap;
}
.a11 {
    width: 100%;
    max-width: 400px;
    margin: 2.5%;
}
.sticky{
    background-color: #fafafa;
    position: sticky;
    top: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 9999;
}
.rty2,.a2,.a21,.a22,.a23,.s1,.s2,.sticky{
    display: flex;
}
.s1 img{
    width: 2.5%;
    height: 3%;
}
.s1 h1{
    margin-left: 5px;
}
.s2{
    font-size: 25px;
    /* margin-left: 5%; */
}
.rty{
    background-color: #fafafa;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}
.a2{
    padding-top: 10px;
    border-bottom: 1px solid gray;
    /* padding-left: 145px; */
}
.a2 .a21 .a211 img,.a2 .a22 .a211 img,.a2 .a23 .a211 img{
    width: 50px;
    height: 50px;
}
.a2 .a24 h3,.a2 .a21 .a212 h2,.a2 .a22 .a212 h2,.a2 .a23 .a212 h2{
    font-size: larger;
}
.a2 .a24 p,.a2 .a23 .a212,.a2 .a21 .a212,.a2 .a22 .a212{
    font-size: medium;
}
.a24{
    border-right: 1px solid gray;
    padding-right: 25px;
}
.a21, .a22, .a23{
    margin-left: 25px;
    max-width: 260px;
}
.rty21{
    background-color: blue;
}
.rty22{
    background-color: violet;
}
.rty23{
    background-color: red;
}
.rty24{
    background-color: greenyellow;
}
.rty21,.rty22,.rty23,.rty24,.rty31,.rty32,.rty33{
    min-width: 175px;
    border: 1px solid black;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 20px;
    overflow: hidden;
}
.rty2{
    width: 95%;
    padding-bottom: 15px;
    margin-bottom: 30px;
    overflow: auto;
    margin-left: 25px;
    scroll-behavior: smooth;
}
.rty2::-webkit-scrollbar{
    display: none;
}
.rty21 img,.rty22 img,.rty23 img,.rty24 img,.rty31 img,.rty32 img,.rty33 img{
    padding-left: 75px;
    padding-top: 25px;
    padding-bottom: 30px;
}
.rty31{
    background-color: green;
}
.rty32{
    background-color: skyblue;
}
.rty33{
    background-color: yellow;
}
.rty211,.rty212,.rty214,.rty311,.rty312,.rty313,.rty314{
    background-color: #fafafa;
    padding-left: 50px;
}
.stats{
    background-color: #ffc700;
    display: flex;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}
.stats .st{
    margin-left: 50px;
}
.faq{
    background-color: #fafafa;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}
.faq-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
}
.faq-container h6{
    padding-left: 450px;
    font-size: x-large;
    padding-bottom: 20px;
}
.faq-question {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}
.faq-answer {
    background-color: #fafafa;
    display: none;
    padding: 10px;
    border-radius: 5px;
}
.foot{
    background-color: #ffc700;
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}
.ft1,.ft2{
    max-width: 325px;
    min-height: 200px;
    margin: 25px;
    color: black;
}
.ft3{
    max-width: 350px;
    min-height: 200px;
    margin: 25px;
    color: black;
}
footer{
    background-color: orangered;
    color: black;
    padding-top: 10px;
    padding-bottom: 15px;
    height: 50px;
    width: 90%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 5%;
}
.rty1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rty1 .btnS{
    padding-right: 1%;
}
.rty1 h4{
    padding-left: 1%;
}
.rty1 .bi{
    color: black;
    cursor: pointer;
    transition: .3s linear;
    font-size: 25px;
}
.rty1 .bi:hover{
    color: crimson;
}
.p2{
    margin-top: 20px;
}
.p1{
    padding-top: 10px;
}
.ft1 h2,.ft2 h2,.ft3 h2{
    text-align: center;
}
.ft21{
    justify-content: center;
    display: flex;
    margin-top: 25px;
}
.ft21 i {
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}
.sub{
    display: flex;
    background-color: #fafafa;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}
.sub1 h2{
    text-align: center;
    padding-top: 25px;
}
.sub1 p{
    padding-left: 50px;
}
.sub11{
    display: flex;
    padding-left: 50px;
}
.sub11 input{
    width: 350px;
    height: 40px;
}
.sub11 button{
    width: 150px;
    margin-left: 10px;
    height: 40px;
    border-radius: 15px;
    background-color: crimson;
}
.sub2{
    /* margin-right: 75px; */
}
.sub2 img{
    width: 400px;
    height: 300px;
}
#counter{
    font-size: 30px;
    font-weight: bold;
}
#counter1{
    font-size: 30px;
    font-weight: bold;
}
#counter2{
    font-size: 30px;
    font-weight: bold;
}